<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>

body {margin: 0;}

header {
  background-color: lightgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  margin-top: 45px;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

</style>
</head>
<body>

<header>
  <h2>The Green APP</h2>
</header>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">The Green App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('base') }}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h2>Welcome</h2><br>
  
</div>

<div style="width: 640px; height: 480px" id="mapContainer"></div>
<script>
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '{ZcdItQEQbwtgxGo2hOGRtI2FCSsxqGW_rNcss7LmGSI}'
      });

      // Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Instantiate (and display) a map object:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map,
        {
          zoom: 10,
          center: { lng: 52.5, lat: 13.4 }
        });
 </script>

<footer>
  <p>By Subham Kumar Sahoo (Team 12 IncubateInd)<br>
     Thank you Kashish Madam :)
  </p>
</footer>

</body>

</html>
